.contenedor.contenedor-grafica{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.imagen-grafica {
    width: 70%;
    height: auto;
    max-width: 600px;
    border-radius: 20px;
}
.contenedor-der-gra {
    align-content: center;
    text-align: center;
}

@media (max-width:768px) {
    .contenedor.contenedor-grafica{
        flex-direction: column;
        align-items: center;
    }
}