.footer-section {
    background:#F2E3C9;
    color: black;

}

.informacion-relevante {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor-der-cc {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.copyrigth {
    text-align: center;
    border-top: 1px solid black;
    padding-top: 10px;
}

ul.footer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


@media (max-width:578px) {
    .informacion-relevante {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}