
section.section-card-descubre{
  background-color: #F2E3C9;
}

.MuiBox-root.css-1jernzw{
  background-color: transparent !important;
  padding: 0;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4.css-4z7gnm-MuiGrid-root {
  height: auto;
  align-items: stretch;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-1ulmmq5-MuiPaper-root-MuiCard-root {
  height: 100%;
}
/* .content {
  text-align: center;
  padding: 60px 20px;
}

.content h2 {
  font-size: 2rem;
  margin-bottom: 16px;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 24px;
}

.content button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.content button:hover {
  background-color: #218838;
} */
