@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Revalia&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Roboto:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
/* h1,h2,h3,h4,h5,h6{
    font-size: 28px;
    font-weight: 700 !important;
    font-family: "Cinzel", serif !important;
} */


p{
    margin: 0;
    
}

.bi-eye::before {
    content: "\f341";
    color:#000000;
}

.bi-pencil::before {
    content: "\f4cb";
    color: green;
}

.bi-trash::before {
    content: "\f5de";
    color: rgb(182, 27, 27);
}
.contenedor{
    margin: 0 50px ;
}
section {
    padding: 56px 0;
}


.contenedor-cards-nosotros {
   display: flex;
   justify-content: space-around;
   gap: 20px;

}

.contenedor-info-equipo{
display: flex;
flex-direction: column;
gap: 26px;
}

.descripcion-introduccion {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.descripcion-introduccion  h3{
    font-size: 28px;
    font-weight: 700;
    font-family: "Cinzel", serif;
}
.descripcion-introduccion  p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
img.card-img-top {
    height: 200px;
}

font{
    vertical-align: bottom !important;
}


